<% unless sidebar.tags.blank? %>
  <h3 class="sidebar-title"><%= t(".tags")%></h3>
  <div class="sidebar_body">
    <p style="overflow:hidden">
    <% sidebar.tags.each do |tag| %>
    <ul>
      <li style="font-family: monospace"><%= link_to tag.display_name, tag_url(tag.name) %></span></li>
    </ul>
    <% end %>
    </p>
  </div>
<% end %>
